* { margin: 0; padding: 0; box-sizing: border-box; }

div#img-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div > img#image {
    width: 50%;
    max-width: 620px;
}